.miss-post {
  position: relative;
 .wrap {
   border: 1px solid #dedede; border-radius: 5px; min-height: 30vh; margin: 0 auto;
   .row {
     display: flex;
     .left {
       >*{margin: 5px;}
       .image {
         height: 350px;
         width: 350px;
         border-radius: 5px;
        > img {
          width: 100%; height: 100%;
        }
       }
     }
     .missing{
       .miss-head{margin: 30px; display: flex;}
       .missing-data{
         display: flex; margin: 30px; justify-content: space-between;
         >p {width: 50%; }
       }
     }
   }
   .additional{
      margin: 0 auto; padding: 10px;
   }
 }
  #promotion {
    position: absolute; top: 0; height: 100vh;  background: rgba(0, 0, 0, .5);
  }
}